{% extends 'base.html.twig' %}

{% block title %}NBP API{% endblock %}

{% block body %}
    
    <div class="row justify-content-center mb-5">
        <div class="col col-md-7">       
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Od</th>
                        <th scope="col">Do</th>
                        <th scope="col">Ask</th>
                        <th scope="col">Bid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Zmiana kursu</th>
                        <td>{{startDate}}</td>
                        <td>{{endDate}}</td>
                        <td class="{{askClass}}">{{ask}}</td>
                        <td class="{{bidClass}}">{{bid}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Result table -->
    <div class="row justify-content-center">
        <div class="col col-md-6">

            {% if rates %}   
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Lp</th>
                        <th scope="col">Waluta</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ask</th>
                        <th scope="col">Bid</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rate in rates %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{code}}</td>
                        <td>{{rate.effectiveDate}}</td>
                        <td>{{rate.ask}}</td>
                        <td>{{rate.bid}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
    </div>
    <!-- Result table end -->
{% endblock %}
