{% extends 'rates/table.html.twig' %}

{% block tbody1 %}
                <tbody>
                    <tr>
                        <th scope="row">Zmiana kursu</th>
                        <td>{{startDate}}</td>
                        <td>{{endDate}}</td>
                        <td class="{{askClass}}">{{ask}}</td>
                        <td class="{{bidClass}}">{{bid}}</td>
                    </tr>
                </tbody>
{% endblock tbody1 %}
            
{% block table2 %}
            {% if rates %}   
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Lp</th>
                        <th scope="col">Waluta</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ask</th>
                        <th scope="col">Bid</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rate in rates %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{code}}</td>
                        <td>{{rate.effectiveDate}}</td>
                        <td>{{rate.ask}}</td>
                        <td>{{rate.bid}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
{% endblock table2 %}